
params {

    // Base Directories
    base_dir = "/project/6007957/users/greenm11/mag_nextflow_assem"
    db_dir            = "/project/6007957/software/mir_MAG_dbs"
    apptainer_dir     = "/project/6007957/software/mir_MAG_apptainer"

    // Database Paths
    bakta_db          = "${db_dir}/bakta_v6_light" // must be either "bakta_db_v6" or "bakta_v6_light"
    bwamem_index      = "${db_dir}/hg38.tar.gz"
    kraken_index      = "${db_dir}/k2_human.tar.gz"

    // Pipeline Logic
    run_trim_decontam = false
    decontam_method   = "kraken2"
    assembly_method   = "metaspades" // must be "megahit" or "metaspades"
    filter_contigs    = true
    annotation        = true
    annotation_method = "bakta" // must be either "bakta" or "prokka"

    // Batch and Tool Arguments
    input_csv         = "data_batch1.csv"
    batch_id          = new File(params.input_csv).baseName
    min_contig_length = 1000
    kmer_size         = 4
    length_thresh     = 1

}

singularity {
  enabled = false
}

apptainer {
  enabled = true
  autoMounts = true
  // FORCE Apptainer to mount the project drive
  runOptions = '-B /project --nv'
}

env {
  PYTHONNOUSERSITE = 1
}

process {
    executor       = 'slurm'
    clusterOptions = '--account=rrg-surette --nodes=1 --ntasks=1'
    maxRetries     = 1
    errorStrategy  = { task.exitStatus in [125,139] ? 'retry' : 'finish' }
    memory         = '110 GB'
    cpus           = 11
    time           = '45m'

    withName: BWAMEM2 {
        memory = 150.GB
        cpus = 11
        time = '1h'
        }


    withName: METASPADES {
        memory = 200.GB
        cpus = 16
        time = { 10.h * task.attempt }
        errorStrategy = { task.exitStatus in [140, 143] ? 'retry' : 'finish' }
        maxRetries = 2

        // .toGiga() strips the "GB" so SPAdes doesn't crash
        // ext.args = { "-m ${task.memory.toGiga()}"
        ext.args = { "-m ${(task.memory?.toGiga()) ?: 200}" }

        }

    withName: MEGAHIT {
        memory = 250.GB
        cpus = 16
        time = '3h'

        }

    withName: BAKTA {
        cpus = 16
        memory = 64.GB
        // Start with 7 hours, then double-ish on retry
        time = { 7.h * task.attempt * 0.75 }

        errorStrategy = { task.exitStatus in [140, 143] ? 'retry' : 'finish' }
        maxRetries = 2

        // add skip flags to reduce compute time
        ext.args = { "--skip-trna --skip-tmrna" }

        // change matplotlib cache to writable location
        containerOptions = '--env MPLCONFIGDIR=/tmp/matplotlib_cache'
    }

}

executor {
    name = 'slurm'
    exitStatusReadTimeout = '1h' // Better to use duration string
    readTimeout = '1h'
}

// cleanup temp outputs
cleanup = true

profiles {
  nibi {
    workDir = "${params.base_dir}/work"
    process {
        scratch = true
    }
    env {
      TMPDIR      = "${params.base_dir}/tmp"
      TEMP        = "${params.base_dir}/tmp"
      TMP         = "${params.base_dir}/tmp"
    }
  }
}
